{% extends 'base_atendente.html' %}

{% block conteudo %}

<div class="card shadow">

    <div class="card-header bg-primary text-white">
        Cadastro de Sócio
    </div>

    <div class="card-body">

        <form method="post">
            {% csrf_token %}

            <div class="row">

                <div class="col-md-6 mb-3">
                    <label>Nome</label>
                    {{ form.nome }}
                </div>

                <div class="col-md-6 mb-3">
                    <label>CPF</label>
                    {{ form.cpf }}
                </div>

                <div class="col-md-6 mb-3">
                    <label>RG</label>
                    {{ form.rg }}
                </div>

                <div class="col-md-6 mb-3">
                    <label>Data de nascimento</label>
                    {{ form.data_nascimento }}
                </div>

                <div class="col-md-6 mb-3">
                    <label>Sexo</label>
                    {{ form.sexo }}
                </div>

                <div class="col-md-6 mb-3">
                    <label>Endereço</label>
                    {{ form.endereco }}
                </div>

                <div class="col-md-6 mb-3">
                    <label>Telefone</label>
                    {{ form.telefone }}
                </div>

                <div class="col-md-6 mb-3">
                    <label>E-mail</label>
                    {{ form.email }}
                </div>

                <div class="col-md-6 mb-3">
                    <label>Cargo ou função</label>
                    {{ form.cargo_funcao }}
                </div>

                <div class="col-md-6 mb-3">
                    <label>Data de filiação</label>
                    {{ form.data_filiacao }}
                </div>

                <div class="col-md-12 mb-3">
                    <label>Relação de documentos</label>
                    {{ form.documentos }}
                </div>

            </div>

            <button type="submit" class="btn btn-success">
                Salvar
            </button>

        </form>

    </div>

</div>

{% endblock %}