{% extends 'base_atendente.html' %}

{% block conteudo %}

<div class="card shadow">

    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
        <span>Lista de Sócios</span>

        <a href="{% url 'cadastro_socio' %}" class="btn btn-light btn-sm">
            Novo Sócio
        </a>
    </div>

    <div class="card-body">

        <p class="text-muted">
            Total de sócios cadastrados: <strong>{{ socios|length }}</strong>
        </p>

        <div class="table-responsive">

            <table class="table table-striped table-hover">

                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Telefone</th>
                        <th>E-mail</th>
                        <th>Data de Filiação</th>
                        <th width="180">Ações</th>
                    </tr>
                </thead>

                <tbody>

                    {% for socio in socios %}
                    <tr>
                        <td>{{ socio.id }}</td>
                        <td>{{ socio.nome }}</td>
                        <td>{{ socio.cpf }}</td>
                        <td>{{ socio.telefone }}</td>
                        <td>{{ socio.email }}</td>
                        <td>{{ socio.data_filiacao|date:"d/m/Y" }}</td>

                        <td>


                            <a href="{% url 'editar_socio' socio.id %}"
                            class="btn btn-warning btn-sm">
                            Editar
                            </a>


                            <a href="{% url 'excluir_socio' socio.id %}" class="btn btn-danger btn-sm">
                                    Excluir
                            </a>

                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7" class="text-center">
                            Nenhum sócio cadastrado.
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

{% endblock %}