{% extends 'base_socio.html' %}

{% block conteudo %}

<h1>Minhas Mensalidades</h1>
<p>Acompanhe suas mensalidades.</p>

<div class="card shadow-sm">

    <div class="card-header bg-success text-white">
        Histórico de Mensalidades
    </div>

    <div class="card-body">

        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Competência</th>
                    <th>Vencimento</th>
                    <th>Valor</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>

                {% for mensalidade in mensalidades %}

                <tr>

                    <td>{{ mensalidade.competencia }}</td>

                    <td>
                        {{ mensalidade.vencimento }}
                    </td>

                    <td>
                        R$ {{ mensalidade.valor }}
                    </td>

                    <td>

                        {% if mensalidade.paga %}

                        <span class="badge bg-success">
                            Paga
                        </span>

                        {% else %}

                        <span class="badge bg-danger">
                            Em aberto
                        </span>

                        {% endif %}

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}