{% extends 'base_socio.html' %}

{% block conteudo %}

<h1>Meus Pagamentos</h1>

<p>
Histórico completo dos pagamentos realizados.
</p>

<div class="card shadow-sm">

    <div class="card-header bg-info text-white">
        Pagamentos Realizados
    </div>

    <div class="card-body">

        <table class="table table-hover">

            <thead>
                <tr>
                    <th>Data</th>
                    <th>Referência</th>
                    <th>Valor</th>
                    <th>Forma</th>
                </tr>
            </thead>

            <tbody>

                {% for pagamento in pagamentos %}

                <tr>

                    <td>
                        {{ pagamento.data_pagamento }}
                    </td>

                    <td>
                        {{ pagamento.referencia }}
                    </td>

                    <td>
                        R$ {{ pagamento.valor }}
                    </td>

                    <td>
                        {{ pagamento.forma_pagamento }}
                    </td>

                </tr>

                {% empty %}

                <tr>
                    <td colspan="4">
                        Nenhum pagamento encontrado.
                    </td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}