{% extends 'base_socio.html' %}

{% block conteudo %}

<h1>Meus Pagamentos</h1>
<p>Acompanhe os pagamentos realizados.</p>

<div class="card shadow-sm">

    <div class="card-header bg-primary text-white">
        Histórico de Pagamentos
    </div>

    <div class="card-body">

        <table class="table table-striped table-hover">

            <thead class="table-dark">
                <tr>
                    <th>Mensalidade</th>
                    <th>Competência</th>
                    <th>Valor Pago</th>
                    <th>Data do Pagamento</th>
                </tr>
            </thead>

            <tbody>

                {% for pagamento in pagamentos %}
                <tr>
                    <td>{{ pagamento.mensalidade }}</td>
                    <td>{{ pagamento.competencia_paga }}</td>
                    <td>R$ {{ pagamento.valor_pago }}</td>
                    <td>{{ pagamento.data_pagamento|date:"d/m/Y" }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">
                        Nenhum pagamento encontrado.
                    </td>
                </tr>
                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}